@import url("https://fonts.googleapis.com/css2?family=Gaegu:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display:block ;
  background-image: url("underwater.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  top: 0;
  height: 100vh;
}

.container {
  padding: 150px;
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.25),
    rgba(36, 36, 36, 0.5)
  ), 
  url("underwater.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Gaegu';
  top: 0;
  height: 100vh;
  position: relative;
}

.maindiv{
  text-align: center;
}

.buttondiv{
  text-align: center;
}

h2 {
  font-family: 'Gaegu';
  text-align: center;
  display: block;
  font-size: 144px;
  color: #e5e5e5;
  font-weight: 900;
  margin-bottom: 50px;
  line-height: 120px;
}

.name {
  /* text-align: center; */
  font-family: 'Gaegu';
  font-weight: bold;
  position: relative;
  font-size: 32px;
  color: #5c8794;
  border: none;
}

.name input {
  border: none;
  outline: none;
  color: #5c8794;
  background-color: rgba(255, 255, 255, 0.75);
  padding: 30px;
  width: 550px;
  height: 80px;
  border-radius: 50px;
  margin: 30px;
  font-size: 32px;
}

.name .placeholder {
  position: absolute;
  top: 50%;
  left: 15%;
  transform: translateY(-50%);
  transition: all 0.3s ease;
  outline: none;
}

.name input:valid + .placeholder,
.name input:focus + .placeholder {
  top: -0.5rem;
  left: 15%;
  font-size: 16px;
  color: #5c8794;
  outline: none;
}

.btn,
.btn1 {
  font-family: 'Gaegu';
  background-color: rgba(255, 255, 255, 0.75);
  height: 80px;
  width: 260px;
  border-radius: 50px;
  transition: all 0.5s ease-in-out;
  color: #5c8794;
  font-size: 42px;
  font-weight: bolder;
  border: none;
  outline: none;
}

.btn{
  margin-right: 1.7rem;
}

.btn:hover,
.btn1:hover {
  background-color: #24526C;
  border: none;
  font-weight: 900;
  color: #e5e5e5;
}

#canvas {
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
}

#video {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    opacity: 0;
    display: none;
}

#start-container {
  display: flex;
  justify-content: center;
  text-align: center;
}

.content-not-visible {
  display: none;
}

.content-visible {
  font-family: 'Gaegu';
  display: flex;
  justify-content: center;
  font-size: 144px;
  color: #e5e5e5;
  font-weight: 900;
  top: 50%;
}